{% include base_path.html %}

{% comment %}
  Display syllabus in tabular form.
  Days are displayed if at least one episode has 'start = true'.
{% endcomment %}
<div class="syllabus">
  <h2 id="schedule">Schedule</h2>

<style type="text/css">
.tg  {border-collapse:collapse;border-spacing:0;}
.tg td{border-color:black;border-style:solid;border-width:1px;font-family:Arial, sans-serif;font-size:14px;
  overflow:hidden;padding:10px 5px;word-break:normal;}
.tg th{border-color:black;border-style:solid;border-width:1px;font-family:Arial, sans-serif;font-size:14px;
  font-weight:normal;overflow:hidden;padding:10px 5px;word-break:normal;}
.tg .tg-0pky{border-color:inherit;text-align:left;vertical-align:top}
</style>
<table class="tg">
<thead>
  <tr>
    <th class="tg-0pky"></th>
    <th class="tg-0pky">Tasks</th>
    <th class="tg-0pky">Approx time</th>
  </tr>
</thead>
<tbody>
  <tr>
    <td class="tg-0pky">Pre-workshop</td>
    <td class="tg-0pky"><span style="font-style:normal"> </span>
    	<a href="https://uw-madison-datascience.github.io/geospatial-workshop/setup.html">Install software and download data</a><br><span style="font-style:normal">Watch the </span><a href="https://www.youtube.com/playlist?list=PL90vX4e9ORqfzAY5IngLRM8OeyBS2ZYU6">setup and intro videos</a></td>
    <td class="tg-0pky">1.5 hr</td>
  </tr>
  <tr>
    <td class="tg-0pky">Day 1</td>
    <td class="tg-0pky">Attend Discussion session</td>
    <td class="tg-0pky">1 hr</td>
  </tr>
  <tr>
    <td class="tg-0pky">Day 2 Prep</td>
    <td class="tg-0pky"><span style="font-style:normal">Watch episodes 1-3</span><br>
    <ul>
    	<li><a href="https://www.youtube.com/watch?v=gK33mzIV70k&list=PL90vX4e9ORqeGADdAEDcM88TOgfijTzIo&index=2&t=0s">Episode 1: Introduction to Raster Data in R</a> </li>
    	<li><a href="https://www.youtube.com/watch?v=EBC2Dgldjkw&list=PL90vX4e9ORqeGADdAEDcM88TOgfijTzIo&index=3&t=0s">Episode 2: Plotting Raster Data in R</a> </li>
    	<li><a href="https://www.youtube.com/watch?v=tAXIqffAjX8&list=PL90vX4e9ORqeGADdAEDcM88TOgfijTzIo&index=4&t=14s">Episode 3: Reprojecting Raster Data in R</a> </li>
    	</ul>
    <span style="font-style:normal">Fill in minute cards</span></td>
    <td class="tg-0pky">2.5 hrs</td>
  </tr>
  <tr>
    <td class="tg-0pky">Day 2</td>
    <td class="tg-0pky">Attend Discussion session</td>
    <td class="tg-0pky">1 hr</td>
  </tr>
  <tr>
    <td class="tg-0pky">Day 3 Prep</td>
    <td class="tg-0pky"><span style="font-style:normal">Watch episodes 4-5</span>
    <ul>
    	<li><a href="https://www.youtube.com/watch?v=Oa64cU12kNY&list=PL90vX4e9ORqeGADdAEDcM88TOgfijTzIo&index=5&t=1s">Episode 4: Raster Calculations in R</a> </li>
    	<li> <a href="https://www.youtube.com/watch?v=pjGTPeRzbcs&list=PL90vX4e9ORqeGADdAEDcM88TOgfijTzIo&index=5">Episode 5: Work With Multi-Band Rasters in R</a> </li>
    </ul>
    	<span style="font-style:normal">Fill in minute cards</span></td>
    <td class="tg-0pky">2 hrs</td>
  </tr>
  <tr>
    <td class="tg-0pky">Day 3</td>
    <td class="tg-0pky">Attend Discussion session</td>
    <td class="tg-0pky">1 hr</td>
  </tr>
  <tr>
    <td class="tg-0pky">Day 4 Prep</td>
    <td class="tg-0pky"><span style="font-style:normal">Watch episode 6-8</span>
    <ul>
    	<li> <a href="https://www.youtube.com/watch?v=oYBSSdH9mQ8&list=PL90vX4e9ORqeGADdAEDcM88TOgfijTzIo&index=6">Episode 6: Open and Plot Shapefiles in R</a> </li>
    	<li><a href="https://www.youtube.com/watch?v=Y-8kb-6ybhQ&list=PL90vX4e9ORqeGADdAEDcM88TOgfijTzIo&index=7">Episode 7: Explore and Plot by Shapefile Attribute</a> </li>
    	<li> <a href="https://www.youtube.com/watch?v=S32k9O64Zbk&list=PL90vX4e9ORqeGADdAEDcM88TOgfijTzIo&index=8">Episode 8: Plot Multiple Shapefiles in R</a> </li>
    	</ul>
    	<span style="font-style:normal">Fill in minute cards</span></td>
    <td class="tg-0pky">2.5 hrs</td>
  </tr>
  <tr>
    <td class="tg-0pky">Day 4</td>
    <td class="tg-0pky">Attend Discussion session</td>
    <td class="tg-0pky">1 hr</td>
  </tr>
  <tr>
    <td class="tg-0pky">Day 5 Prep</td>
    <td class="tg-0pky"><span style="font-style:normal">Watch episodes 9-11</span>
    <ul>
    	<li> <a href="https://www.youtube.com/watch?v=Ud31HvAhwss&list=PL90vX4e9ORqeGADdAEDcM88TOgfijTzIo&index=9">Episode 9: Handling Spatial Projections and CRS in R</a> </li>
    	<li><a href="https://www.youtube.com/watch?v=GSSOLXZEt0o&list=PL90vX4e9ORqeGADdAEDcM88TOgfijTzIo&index=10">Episode 10: Convert from CSV to Shapefile in R</a> </li>
    	<li><a href="https://youtu.be/7Ia2meKlvSw">Episode 11: Manipulate Raster Data in R</a> </li>
    	</ul>
    	<span style="font-style:normal">Fill in minute cards</span></td>
    <td class="tg-0pky">3 hrs</td>
  </tr>
  <tr>
    <td class="tg-0pky">Day 5</td>
    <td class="tg-0pky">Attend Discussion session</td>
    <td class="tg-0pky">1 hr</td>
  </tr>
  <tr>
    <td class="tg-0pky">Total</td>
    <td class="tg-0pky"></td>
    <td class="tg-0pky">16.5 hrs</td>
  </tr>
</tbody>
</table>

</div>
